<!doctype html>
    <link rel="stylesheet" href="{{ url_for('static', filename='sort.css') }}">
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <a href = "/">
        <img class = "backbttn" src="{{url_for('static', filename='backbutton.png')}}" width="100px" height="50px" />
        </a>
        <br>
        <title>{{Name}} {{Job}}</title>
    </head>

    <body>
        <h1 class= "Content" > {{Name}} {{Job}}</h1>
        <br>

        <h3 class="Content" >
            {{Description}}
        </h3>
        <br>

        <h2 class="Content" >
            Time Complexity 
        </h2>
        <br>
        <img class="center" src = "{{url_for('static', filename =tc_img)}}" width="400px" height="300px" />
        <br>

        <h2 class="Content" >
            Space Complexity
        </h2>
        <br>
        <img class="center" src = "{{url_for('static', filename =sc_img)}}" width="400px" height="300px" />
        <br>


        {% if Job == 'Search'%}
            <!-- <h3> Sorting </h3> -->
            <form action="" method="POST">
                <p>
                    <label for = "input">
                        Input
                    </label><input type = "text" name = "input"/>
                </p>
                <p>
                    <label for = "search_ele">
                        Search Element
                    </label><input type = "text" name = "search_ele"/>

                </p>

                <p>
                    <label for = "file_up"> 
                        Upload
                    </label><input type = "file" name = "file_up"/>
                </p>
                
                <p>
                    <input type = "submit" name = "submit" />
                </p> 
                
            </form>
            <!-- <p>
                Result 
                {% if Output %}
                    <p> {{Output}} </p>
                {% endif %}
            </p> -->
        {%else%}
            <!-- <h4> Searching </h4> -->
            <form action="" method="POST">
                <p>
                    <label for = "input">
                        Input
                    </label><input type = "text" name = "input"/>
                </p>
                <p>
                    <label for = "search_ele">
                        Search Element
                    </label><input type = "text" name = "search_ele"/>

                </p>

                <p>
                    <label for = "file_up"> 
                        Upload
                    </label><input type = "file" name = "file_up"/>
                </p>
                
                <p>
                    <input type = "submit" name = "submit" />
                </p> 
                
            </form>

        {%endif%}

        <p>
            Result
                <input type = "text" name = "result" value = "{{message}}" />
        

        </p>
          
        

    </body>
</html>